 * {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
  background: #3971e3;
  font-family:Arial, Helvetica, sans-serif;
}
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  height: 30px;
}
.button{
  background-color: #4CAF50; /* Green */
  border-radius: 2px;
  position: relative;
  background-color:white;
  border: none;
  font-size: 19px;
  color:#3971e3;;
  padding:15px 32px;
  width: 200px;
  margin:  4px 2px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #28ef0a;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -32px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.hover{
  margin-top: 10rem !important;
  background-color:white;
  padding: 1rem 2rem !important;
  font-size: 1.5rem !important;
  color: #3971e3;
  border: none;
  border-radius: 2px;
  text-decoration:underline;
}
